server:
  port: 9091
spring:
  application:
    name: accounts
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:8071/"
#  rabbitmq:
#    host: "localhost"
#    port: 5672
#    username: "guest"
#    password: "guest"

  datasource:
    url: jdbc:postgresql://localhost:5432/accountsdb
    driverClassName: org.postgresql.Driver
    username: accountsuser
    password: accountsdb
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
management:
  endpoints:
    web:
      exposure:
        include: "*"