server:
  port: 8071
spring:
  application:
    name: configServer
  profiles:
    active: git
  cloud:
    config:
      server:
        monitor:
          github:
            enabled: true
        git:
          uri: "https://github.com/SivakumarIAS/MicroservicesDev.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
  bus:
    enabled: true
    id: ${spring.application.name}:${server.port}
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
#        native:
#          search-location: "classpath:/config"
encrypt:
  key: "4e5r6t7y8u9i0o"
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true